.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.swiper-slide > section {
    width: 500px;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    box-shadow:5px 5px 25px rgba(0,0,0,0.7);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.swiper-slide > section > h1{
    color: #2fa360;
    font-weight: 700;
    font-size: 22px;
}
