footer {
    width: 100%;
    padding: 30px;
    height: 180px;
    box-sizing: border-box;
    background-color: #111111;
}

footer > section.link {
    width: 20%;
    padding: 20px;
    height: 120px;
    box-sizing: border-box;
    background-color: black;
    display: inline-block;
    float: right;
    margin: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

footer > section.social {
    width: 26%;
    padding: 20px;
    height: 120px;
    box-sizing: border-box;
    background-color: black;
    display: inline-block;
    float: right;
    margin: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

footer > section.address {
    width: 52%;
    padding: 20px;
    height: 120px;
    box-sizing: border-box;
    background-color: black;
    display: inline-block;
    float: right;
    margin: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

footer > section.social > a {
    width: 24%;
    text-align: center;
    display: inline-block;
}

footer > section.social > a > i {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

footer > section.social > a > i:hover {
    color: navajowhite;
}

footer > section.link > a {
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
}

footer > section.link > a:hover {
    color: navajowhite;
}

footer > section.address > form > input[type=text] {
    width: 70%;
    height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: Vazir, serif;
    background-color: transparent;
    outline: none;
    transition: all 300ms linear;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    margin: 15px auto 10px;
    color:white;
}

footer > section.address > form > input[type=text]:focus {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.8);
}

footer > section.address > form > button {
    width: 20%;
    height: 40px;
    box-sizing: border-box;
    font-family: Vazir, serif;
    background-color: transparent;
    outline: none;
    transition: all 300ms linear;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: white;
    margin: 15px auto 10px;
}

footer > section.address > form > button:hover {
    color: navajowhite;
    font-weight: bolder;
    border: 2px solid navajowhite;
    cursor: pointer;
}
