section.contact {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #313131;
}

section.contact > form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7),-5px -5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

section.contact > form > label {
    display: block;
    color: whitesmoke;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}

section.contact > form > input[type=text], section.contact > form > input[type=email] {
    display: block;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: Vazir, serif;
    background-color: transparent;
    outline: none;
    transition: all 300ms linear;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: white;
}

section.contact > form > input[type=text]:focus, section.contact > form > input[type=email]:focus {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: whitesmoke;
    font-family: Vazir, serif;
    font-size: 13px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: whitesmoke;
    font-family: Vazir, serif;
    font-size: 13px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: whitesmoke;
    font-family: Vazir, serif;
    font-size: 13px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: whitesmoke;
    font-family: Vazir, serif;
    font-size: 13px;
}

section.contact > form > textarea {
    width: 100%;
    height: 150px;
    background-color: transparent;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: Vazir, serif;
    outline: none;
    margin-bottom: 20px;
    transition: all 300ms linear;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: white;
}

section.contact > form > textarea:focus {
    background-color: black;
}

section.contact > form > input[type=submit] {
    width: 250px;
    height: 40px;
    background-color: limegreen;
    font-family: Vazir, serif;
    font-weight: bolder;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    transition: all 300ms linear;
    cursor: pointer;
}

section.contact > form > input[type=submit]:hover {
    background-color: darkgreen;
    font-size: 14px;
    color: whitesmoke;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
